<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\Resources\Data\games.db;Version=3" providerName="System.Data.SqlClient"/>
    <add name="DefaultMongoConnection" connectionString="mongodb://localhost:27017" />
    <add name="GamesDbConnection" connectionString="mongodb://localhost:27017/GamesDb"/>
  </connectionStrings>

  <appSettings>
    
  </appSettings>
</configuration>